body {
  font-family: "Playfair Display", serif;

  font-size: 14px;
  font-weight: 400;
  color: #626262;
}
/* =================Heder===================== */
.menu-link {
  color: #7d7d7d;
  text-decoration: none;
}
.menu-link:hover {
  color: #03a9f4;
}
/* =================Mein===================== */
.gallery-category {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #b4ad9e;
}
.gallery-titel {
  font-weight: 400;
  font-size: 30px;
}
.gallery-button {
  font-weight: 400;
  font-size: 14px;
f}
